@use 'utilities/variables' as var;
@use 'utilities/mixins' as mix;

.header {
  &--menu {
    background-image: url(../img/header_menu.jpg);
  }
}

.main {
  &--menu {
    padding-bottom: 0;
  }
}

.menu {
  &__content {
    aspect-ratio: 3 / 8;
    background-image: url(../img/cafe.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    @include mix.bk-tablet {
      aspect-ratio: 16 / 6;
      background-size: 40%;
      background-position: bottom right;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var.$spacing-5;
    }
  }
  &__text {
    p {
      font-size: 1.8rem;
    }
  }
}